@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: #020617;
  color: #94a3b8;
  font-family: 'Share Tech Mono', monospace;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #06b6d4; 
}
::-webkit-scrollbar-thumb:hover {
  background: #22d3ee; 
}